*

!.gitignore
!.npmignore
!.dockerignore
!.gitprefix

!.github/
!.github/FUNDING.yml
!.github/release.yml
!.github/CODE_OF_CONDUCT.md
!.github/SECURITY.md

!.husky/
!.husky/**
!commitlint.config.js

!package.json
!tsconfig.json

!src/
!src/**

!test/
!test/setup.js

!types.d.ts

!LICENSE
!AUTHORS

!README.md
!MAINTAINERS.md
!GOVERNANCE.md
!CONTRIBUTING.md
!CHANGELOG.md

**/*~
**/*.log
**/*-old.*
**/.DS_Store
**/Thumbs.db
**/node_modules
**/dist
**/olds
**/build